In [2]:
import streamlit as st
import pandas as pd
import geopandas as gpd
import leafmap.foliumap as leafmap
from streamlit_folium import st_folium
import folium
import h3

2024-10-17 09:12:02.801 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [3]:
path_rides = '/Users/bolt/Downloads/Rides lost, high geospatial resolution (1).csv'
path_searches = '/Users/bolt/Downloads/Searches Heatmap WOB Aug24.csv'

In [4]:

st.set_page_config(layout="wide")

2024-10-17 09:12:02.828 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [5]:
def rides_h3():
    st.title('Rides')
    
    #upload necessary files for analysis
    st.sidebar.title("Upload Files")
    rides = st.sidebar.file_uploader("Upload the Rides CSV file:", type="csv")
    seaches = st.sidebar.file_uploader("Upload the Searches CSV file:", type="csv")
    deployment_spots = st.sidebar.file_uploader("Upload the deployment spots downloaded from Admin", type="GeoJson")

    if rides and searches and deployment_spots:
        rides_df = pd.read_csv(rides)
        searches_df = pd.read_csv(searches)
        dpzs = gpd.read_file(deployment_spots)

In [6]:
rides_lost_df = pd.read_csv(path_rides, usecols=lambda column: column not in ['Unnamed: 0'])

In [7]:
searches_df = pd.read_csv(path_searches)

In [8]:
rides_lost_df.head(5)

  Search Location 3 Digits Rides lost
0            52.428,10.786       2,224
1            52.268,10.526       2,031
2            52.469,10.542       1,781
3            52.469,10.543         905
4            52.268,10.525         599

In [9]:
searches_df.head(5)

        Location Count Search Session
0  52.428,10.786                8,341
1  52.268,10.526                8,337
2  52.469,10.542                8,264
3  52.429,10.787                1,992
4  52.253,10.539                1,640

In [10]:
rides_lost_df.columns

Index(['Search Location 3 Digits', 'Rides lost '], dtype='object')

In [11]:
rides_lost_df.columns

Index(['Search Location 3 Digits', 'Rides lost '], dtype='object')

In [12]:
rides_lost_df.shape

(5001, 2)

In [13]:
rides_lost_df.iloc[5000]

Search Location 3 Digits       NaN
Rides lost                  32,343
Name: 5000, dtype: object

In [14]:
df_ = rides_lost_df.iloc[:-1]

In [15]:
type(rides_lost_df)

pandas.core.frame.DataFrame

In [16]:
df_.to_csv('test_lost_rides.csv')

In [17]:
df = df_[df_['Search Location 3 Digits']!= 0]

In [18]:
df_.shape

(5000, 2)

In [19]:
rides_lost_df.describe

<bound method NDFrame.describe of      Search Location 3 Digits Rides lost
0               52.428,10.786       2,224
1               52.268,10.526       2,031
2               52.469,10.542       1,781
3               52.469,10.543         905
4               52.268,10.525         599
...                       ...         ...
4996            52.436,10.745           1
4997            52.277,10.569           2
4998            52.397,10.693           1
4999            52.241,10.491           1
5000                      NaN      32,343

[5001 rows x 2 columns]>

In [20]:
df_.sort_values(by="Rides lost ", ascending=False)

     Search Location 3 Digits Rides lost
3               52.469,10.543         905
452             52.251,10.484           9
487             52.262,10.525           9
857               52.42,10.78           9
1082              52.3,10.546           9
...                       ...         ...
4369             52.24,10.499           0
4370            52.458,10.502           0
4372            52.279,10.528           0
3522            52.253,10.544           0
3381            52.429,10.825           0

[5000 rows x 2 columns]

In [21]:
df.shape

(5000, 2)

In [22]:
df.shape

(5000, 2)

In [23]:
df_ = df_[df_['Rides lost '] != 0]

In [24]:
df_['Rides lost '].min()

'0'

In [25]:
df_

     Search Location 3 Digits Rides lost
0               52.428,10.786       2,224
1               52.268,10.526       2,031
2               52.469,10.542       1,781
3               52.469,10.543         905
4               52.268,10.525         599
...                       ...         ...
4995            52.233,10.506           1
4996            52.436,10.745           1
4997            52.277,10.569           2
4998            52.397,10.693           1
4999            52.241,10.491           1

[5000 rows x 2 columns]

In [26]:
df_['Rides lost '] = df_['Rides lost '].str.replace(',', '').astype(int)

In [27]:
df_['Rides lost '].value_counts().get(0,0)

514

df2 = df_[df_['Rides lost '] != 0]

In [28]:
df_.sort_values(by='Rides lost ', ascending=False)

     Search Location 3 Digits  Rides lost
0               52.428,10.786         2224
1               52.268,10.526         2031
2               52.469,10.542         1781
3               52.469,10.543          905
4               52.268,10.525          599
...                       ...          ...
4369             52.24,10.499            0
4370            52.458,10.502            0
4372            52.279,10.528            0
3522            52.253,10.544            0
3381            52.429,10.825            0

[5000 rows x 2 columns]

In [29]:
df_ = df_[df_['Rides lost '] != 0]

In [30]:
df_.shape

(4486, 2)

In [32]:
rides = pd.read_csv('/Users/bolt/Downloads/Rentals rides list WOB Week4 Aug.csv')
lost = pd.read_csv('/Users/bolt/Downloads/Rides lost, high geospatial resolution (2).csv')

In [34]:
rides.head(5)

,Unnamed: 0,ID,Created Time,Pickup Lat,Pickup Lng,Dropoff Lat,Dropoff Lng,"Order Duration, minutes",Vehicle Type,Vehicle Type Scooter or Bike,Battery At Start,Battery In End,Order Distance,Finish Reason,Uuid,User ID,State,Sum of Price Eur
0,1,133311192,2024-08-31 23:59:28,52.478760,10.546554,52.481117,10.520205,8.3,Cobra,scooters,91.0%,85.0%,"2,607.0",by_user,203-395,190340975,finished,2.5
1,2,133311126,2024-08-31 23:59:03,52.286930,10.539032,52.278873,10.519790,7.9,Cobra,scooters,66.0%,61.0%,"2,030.0",by_user,993-903,76334317,finished,2.9
2,3,133311097,2024-08-31 23:58:49,52.423069,10.729268,52.419987,10.715425,4.6,Cobra,scooters,84.0%,79.0%,"1,284.0",by_user,463-700,104779783,finished,0.0
3,4,133311013,2024-08-31 23:57:42,52.269802,10.501383,52.275017,10.521805,4.9,Cobra,scooters,83.0%,79.0%,"1,569.0",by_user,666-895,81577629,finished,1.8
4,5,133311000,2024-08-31 23:57:33,52.265549,10.536510,52.261620,10.502745,10.0,Cobra,scooters,61.0%,53.0%,"2,523.0",by_user,086-618,91720671,finished,2.9

In [35]:
lost.head(5)

   Unnamed: 0 Search Location 3 Digits Rides lost
0         1.0            52.428,10.786       1,219
1         2.0            52.268,10.526       1,084
2         3.0            52.469,10.542         996
3         4.0            52.469,10.543         478
4         5.0            52.268,10.525         351