In [82]:
import streamlit as st
import pandas as pd
import geopandas as gpd
import leafmap.foliumap as leafmap
from streamlit_folium import st_folium
import folium
import h3

In [83]:
path_rides = '/Users/bolt/Downloads/Rides lost, high geospatial resolution (1).csv'
path_searches = '/Users/bolt/Downloads/Searches Heatmap WOB Aug24.csv'

In [84]:

st.set_page_config(layout="wide")

2024-10-11 17:07:28.853 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [85]:
def rides_h3():
    st.title('Rides')
    
    #upload necessary files for analysis
    st.sidebar.title("Upload Files")
    rides = st.sidebar.file_uploader("Upload the Rides CSV file:", type="csv")
    seaches = st.sidebar.file_uploader("Upload the Searches CSV file:", type="csv")
    deployment_spots = st.sidebar.file_uploader("Upload the deployment spots downloaded from Admin", type="GeoJson")

    if rides and searches and deployment_spots:
        rides_df = pd.read_csv(rides)
        searches_df = pd.read_csv(searches)
        dpzs = gpd.read_file(deployment_spots)

In [86]:
rides_lost_df = pd.read_csv(path_rides, usecols=lambda column: column not in ['Unnamed: 0'])

In [87]:
searches_df = pd.read_csv(path_searches)

In [88]:
rides_lost_df.head(5)

  Search Location 3 Digits Rides lost
0            52.428,10.786       2,224
1            52.268,10.526       2,031
2            52.469,10.542       1,781
3            52.469,10.543         905
4            52.268,10.525         599

In [89]:
searches_df.head(5)

        Location Count Search Session
0  52.428,10.786                8,341
1  52.268,10.526                8,337
2  52.469,10.542                8,264
3  52.429,10.787                1,992
4  52.253,10.539                1,640

In [90]:
rides_lost_df.columns

Index(['Search Location 3 Digits', 'Rides lost '], dtype='object')

In [91]:
rides_lost_df.columns

Index(['Search Location 3 Digits', 'Rides lost '], dtype='object')

In [92]:
rides_lost_df.shape

(5001, 2)

In [93]:
rides_lost_df.iloc[5000]

Search Location 3 Digits       NaN
Rides lost                  32,343
Name: 5000, dtype: object

In [94]:
df_ = rides_lost_df.iloc[:-1]

In [95]:
type(rides_lost_df)

pandas.core.frame.DataFrame

In [96]:
df_.to_csv('test_lost_rides.csv')

In [97]:
df = df_[df_['Search Location 3 Digits']!= 0]

In [100]:
df_.shape

(5000, 2)

In [99]:
rides_lost_df.describe

<bound method NDFrame.describe of      Search Location 3 Digits Rides lost
0               52.428,10.786       2,224
1               52.268,10.526       2,031
2               52.469,10.542       1,781
3               52.469,10.543         905
4               52.268,10.525         599
...                       ...         ...
4996            52.436,10.745           1
4997            52.277,10.569           2
4998            52.397,10.693           1
4999            52.241,10.491           1
5000                      NaN      32,343

[5001 rows x 2 columns]>

In [107]:
df_.sort_values(by="Rides lost ", ascending=False)

     Search Location 3 Digits Rides lost
3               52.469,10.543         905
452             52.251,10.484           9
487             52.262,10.525           9
857               52.42,10.78           9
1082              52.3,10.546           9
...                       ...         ...
4369             52.24,10.499           0
4370            52.458,10.502           0
4372            52.279,10.528           0
3522            52.253,10.544           0
3381            52.429,10.825           0

[5000 rows x 2 columns]

In [108]:
df.shape

(5000, 2)

In [109]:
df.shape

(5000, 2)

In [120]:
df_ = df_[df_['Rides lost '] != 0]

In [119]:
df_['Rides lost '].min()

AttributeError: 'str' object has no attribute 'value_counts'

In [121]:
df_

     Search Location 3 Digits Rides lost
0               52.428,10.786       2,224
1               52.268,10.526       2,031
2               52.469,10.542       1,781
3               52.469,10.543         905
4               52.268,10.525         599
...                       ...         ...
4995            52.233,10.506           1
4996            52.436,10.745           1
4997            52.277,10.569           2
4998            52.397,10.693           1
4999            52.241,10.491           1

[5000 rows x 2 columns]

In [124]:
(rides_lost_df['Rides lost '] != 0).sum()

5001

In [127]:
type(rides_lost_df['Rides lost '][1])

str

In [130]:
df_['Rides lost '] = df_['Rides lost '].str.replace(',', '').astype(int)

In [134]:
df_['Rides lost '].value_counts().get(0,0)

514

In [138]:
df2 = df_[df_['Rides lost '] != 0]

KeyError: 'Rides lost '

In [140]:
df_

0       True
1       True
2       True
3       True
4       True
        ...
4995    True
4996    True
4997    True
4998    True
4999    True
Name: Rides lost , Length: 5000, dtype: bool

In [142]:
rides_lost_df = rides_lost_df[rides_lost_df['Rides lost ']!=0]

In [143]:
rides_lost_df

     Search Location 3 Digits Rides lost
0               52.428,10.786       2,224
1               52.268,10.526       2,031
2               52.469,10.542       1,781
3               52.469,10.543         905
4               52.268,10.525         599
...                       ...         ...
4996            52.436,10.745           1
4997            52.277,10.569           2
4998            52.397,10.693           1
4999            52.241,10.491           1
5000                      NaN      32,343

[5001 rows x 2 columns]